lang en_US.UTF-8 --addsupport=tr_TR.UTF-8
keyboard trq
timezone Europe/Istanbul --isUtc
rootpw $1$13ff8zmw$rP9wwDdWFDVZkrRPbVkdp1 --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
harddrive --partition=disk/by-label/DATA --dir=/
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --none
autopart
network --device=ens33 --bootproto=static --ip=172.16.3.240 --netmask=255.255.255.0 --gateway=172.16.3.1 --nameserver=172.16.3.31
auth --passalgo=md5 --useshadow
selinux --enforcing
firewall --enabled --http  --ssh --port=5432,443
firstboot --disable
%packages
@base
%end
